<footer>

	<div class="container">

        <div class="fRow">
            <img src="assets/img/logo.svg" alt="" class="logo">

            <div class="social-links">
                <a href="https://t.me/yourtelegram" target="_blank" class="social-icon telegram">
                    <i class="fab fa-telegram-plane"></i>
                </a>
                <a href="https://vk.com/yourvk" target="_blank" class="social-icon vk">
                    <i class="fab fa-whatsapp"></i>
                </a>
                <a href="https://vk.com/yourvk" target="_blank" class="social-icon vk">
                    <i class="fab fa-vk"></i>
                </a>
            </div>

        </div>

        <div class="contacts">
            <p><b>Адрес:</b> 344001, Ростовская область, город Ростов-на-Дону, ул. Собино, д.3</p>
            <p><b>Телефон:</b> +79885590371 </p>
        </div>

	</div>

</footer>