<section class="formSection">

	<div class="container">

	  	<div class="formSide">
	  		
	  		<h2>Запрос на расчет стоимости</h2>
		    <p>Заполните форму, и мы свяжемся с вами в ближайшее время</p>
		    <form class="contactForm">
		      <div class="formGroup">
		        <label for="name">Имя</label>
		        <input type="text" id="name" name="name" placeholder="Ваше имя" required>
		      </div>
		      <div class="formGroup">
		        <label for="phone">Номер телефона</label>
		        <input type="tel" id="phone" name="phone" placeholder="Ваш номер телефона" required>
		      </div>
		      <div class="formGroup">
		        <label for="email">Email</label>
		        <input type="email" id="email" name="email" placeholder="Ваш email" required>
		      </div>
		      <div class="formGroup">
		        <label for="comment">Комментарий</label>
		        <textarea id="comment" name="comment" placeholder="Ваш комментарий" rows="4"></textarea>
		      </div>
		      <button type="submit" class="submitButton">Отправить</button>
	    </form>

	  	</div>

	  	<div class="mapSide">

	  		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10838.876351972924!2d39.671038073931925!3d47.22207857031354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e3b91f5bd5f825%3A0xe6ca19c1bea66b38!2z0YPQuy4g0KHQvtCx0LjQvdC-LCAzLCDQoNC-0YHRgtC-0LIt0L3QsC3QlNC-0L3Rgywg0KDQvtGB0YLQvtCy0YHQutCw0Y8g0L7QsdC7Liwg0KDQvtGB0YHQuNGPLCAzNDQwMDE!5e0!3m2!1sru!2suk!4v1736437661066!5m2!1sru!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

	  	</div>	  

  </div>

</section>